body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.top {
  font-weight: bold;
  display: flex;
}
.menu {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  
}
.main {
  position: relative;
  top: 200px;
  left: 46%
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}

.whiter {
  color: white;
}